{% extends "@UmbrellaAdmin/edit.html.twig" %}

{% block content %}
    <a href="{{ path('app_admin_mission_index') }}" class="btn btn-secondary"><i class="mdi mdi-arrow-left"></i> Retour aux missions</a>
    {{ parent() }}
{% endblock %}